#/etc/systemd/system/dyndns.timer
[Unit]
Description=DynDNS update

[Timer]
OnBootSec=2min
OnCalendar=*:0/7
Persistent=true

[Install]
WantedBy=timers.target
