#/etc/systemd/system/dyndns.service
[Unit]
Description=DynDNS update

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -s https://sync.afraid.org/u/YourSecretIPv4Token/
ExecStart=/usr/bin/curl -s https://v6.sync.afraid.org/u/YourSecretIPv6Token/
