#~/.config/systemd/user/podman-prune.timer
[Unit]
Description=Prune unused dockerimages/-tags to free up disk space

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
